<template name="svgCanvas">
    <div id="svgCanvasContainer"></div>
    <button id="test">Clear</button>

     <button id="test" class = "red"> Red</button>
     <button id="test" class = "blue"> Blue</button>
     <button id="test" class = "green"> Green</button>
     <button id="test" class = "orange"> Orange</button>
     <button id="test" class = "yellow"> Yellow</button>
     <button id="test" class = "white"> White</button>
     <button id="test" class = "black"> Black</button>
     
</template>